<!DOCTYPE html>
<html>
<head>
  <title>RailsEngine</title>
  <%= stylesheet_link_tag    "rails_engine/application", media: "all" %>
  <%= javascript_include_tag "rails_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
