<p><%= t('devise.mailer.confirmation_instructions.greeting', reciever: @email) %></p>

<p><%= t('devise.mailer.confirmation_instructions.instructions') %></p>

<p>
  <%= link_to t('devise.mailer.confirmation_instructions.confirm_account'), confirmation_url(@resource, confirmation_token: @token) %>
</p>
