<p><%= t('devise.confirmations.mailer.hello', :email => @resource.email) %></p>

<p><%= t('devise.confirmations.mailer.info') %></p>

<p><%= link_to t('devise.confirmations.mailer.link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
