<p><%= t('devise.mailer.confirmation_instructions.greeting', :recepient => @resource.email) %></p>

<p><%= t('devise.mailer.confirmation_instructions.instruction') %></p>

<p><%= link_to t('devise.mailer.confirmation_instructions.action'),
         confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
