<p><%= t("devise.mailer.confirmation_instructions.welcome") %> <%= @email %>!</p>

<p><%= t("devise.mailer.confirmation_instructions.view_message") %></p>

<p><%= link_to t("devise.mailer.confirmation_instructions.link_text"), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
