<p><%= t('.welcome') + ' ' + @resource.email %>!</p>

<p><%= t('.confirm_through_mail')%></p>

<p><%= link_to t('.confirm_my_account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
