<p><%= t('.hello', email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.unconfirmed_description', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('.confirmed_description', email: @resource.email) %></p>
<% end %>
