<p><%= t('devise.mailer.unlock_instructions.greeting', reciever: @resource.email) %></p>

<p><%= t('devise.mailer.unlock_instructions.information') %></p>

<p><%= t('devise.mailer.unlock_instructions.instructions') %></p>

<p><%= link_to t('devise.mailer.unlock_instructions.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
