<p><%= t('.hello', email: @resource.email) %></p>

<p><%= t('.description') %></p>

<p><%= t('.unlock_description') %></p>

<p><%= link_to t('.button'), unlock_url(@resource, unlock_token: @token) %></p>
