<p><%= t('devise.unlocks.mailer.hello', :email => @resource.email) %></p>

<p><%= t('devise.unlocks.mailer.info') %></p>

<p><%= t('devise.unlocks.mailer.click_link') %></p>

<p><%= link_to t('devise.unlocks.mailer.link'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
