<p><%= t('devise.mailer.unlock_instructions.greeting', :recepient => @resource.email) %></p>

<p><%= t('devise.mailer.unlock_instructions.message') %></p>

<p><%= t('devise.mailer.unlock_instructions.instruction') %></p>

<p><%= link_to t('devise.mailer.unlock_instructions.action'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
