<p><%= t(".greeting", email: @resource.email) %></p>

<p><%= t('.explanation_text')%></p>

<p><%= t('.instruction_text')%></p>

<p><%= link_to t('.link'), unlock_url(@resource, unlock_token: @token) %></p>
