<p><%= t('devise.mailer.hello') + ' ' + @resource.email %>!</p>

<p><%= t('.locked_because_too_much_failed_logins') %> </p>

<p><%= t('.click_below_to_unlock') %></p>

<p><%= link_to t('.unlock_my_account'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
